<p id="notice"><%= notice %></p>

<h1><center><strong>Balance Sheet</strong></center></h1>
</br>

<div class= "card">
<table class ="table">
  <thead>
    <tr>
      <th>Account number</th>
      <th>Account name</th>
      <th>Balance</th>
      <th colspan="1"></th></th>
    </tr>
  </thead>

  <!----------------------------------------------- Current Assets -------------------------------------------- !-->
 <tbody>
   <td><h5><strong>Current Assets</strong></h5></td>
   <td></td>
   <td></td>
  </tbody>
  

  <tbody>
        <% @gl_accounts.each do |account| %>
         <% if account.account_type == 'current_asset' %>
      <tr>
        <td> <%= account.code %></td>
        <td> <%= account.name %></td>
        <td><%= account.transactions.sum(:amount) %></td>
        <td></td></td>
        <td>
      </tr>
    <% end %>
   <% end %>
  </tbody>
  
    <tbody>
        <% @bank_account.each do |bank_acount| %>
      <tr>
        <td> <%= bank_acount.code %></td>
        <td> <%= bank_acount.name %></td>
        <td><%= bank_acount.transactions.sum(:amount).round(2) %></td>
        <td></td></td>
        <td>
      </tr>
    <% end %>

  </tbody>
  
  
  <!----------------------------------------------- Non-current Assets  -------------------------------------------- !-->
    <tbody>
   <td><h5><strong>Non-current Assets</strong></h5></td>
   <td></td>
   <td></td>
  </tbody>
   
   <tbody>
     <% @gl_accounts.each do |account| %>
         <% if account.account_type == 'non_current_asset' %>
      <tr>
        <td> <%= account.code %></td>
        <td> <%= account.name %></td>
        <td><%= account.transactions.sum(:amount) %></td>
        <td></td></td>
        <td>
      </tr>
   <% end %>
    <% end %>
  </tbody>
  
    <!----------------------------------------------- Total Assets  -------------------------------------------- !-->
 

  
      <!----------------------------------------------- Current Liabilities  -------------------------------------------- !-->
  
  <tbody>
   <td><h5><strong>Current Liabilities</strong></h5></td>
   <td></td>
   <td></td>
  </tbody>
   
   <tbody>
     <% @gl_accounts.each do |account|%>

         <% if account.account_type == 'current_liability' %>
      <tr>
        <td> <%= account.code %></td>
        <td> <%= account.name %></td>
        <td><%= account.transactions.sum(:amount)%></td>
       <% end %>
      <% end %>

           
        
     
 
   <!-----------------------------------------------Non-current Liabilities  -------------------------------------------- !-->
  
  <tbody>
   <td><h5><strong>Non-current Liabilities</strong></h5></td>
   <td></td>
   <td></td>
  </tbody>
   
   <tbody>
     <% @gl_accounts.each do |account| %>
         <% if  account.account_type == 'non_current_liability' && account.code != 6002 %>
      <tr>
        <td> <%= account.code %></td>
        <td> <%= account.name %></td>
        <td><%= account.transactions.sum(:amount) %></td>
        <td></td></td>
        <td>
      </tr>
    <% end %>
   <% end %>
    <% @gl_accounts.each do |account| %>
         <% if account.code == 6002 %>
      <tr>
        <td> <%= account.code %></td>
        <td> <%= account.name %></td>
        <% @vat_total = 0 %>
        <% @transactions.each do |transaction| %>
        <% @vat_total += transaction.vat_amount %>
        <% end %>
           <td> <%= @vat_total %></td>
        <td></td></td>
        <td>
      </tr>
    <% end %>
   <% end %>
  </tbody>
  
  <!----------------------------------------------- Capital and Reserves  -------------------------------------------- !-->
  
  <tbody>
   <td><h5><strong>Capital and Reserves</strong></h5></td>
   <td></td>
   <td></td>
  </tbody>
   
   <tbody>
     <% @gl_accounts.each do |account| %>
         <% if account.account_type == 'equity' %>
      <tr>
        <td> <%= account.code %></td>
        <td> <%= account.name %></td>
        <td><%= account.transactions.sum(:amount) %></td>
        <td></td></td>
        <td>
      </tr>
    <% end %>
   <% end %>

  </tbody>
  
       <!----------------------------------------------- Net Profit -------------------------------------------- !-->
  
  <tbody>
   <td><h5><strong><u>Net Profit</u></strong></h5></td>
   <td></td>
   <td><h5><strong><u><u></u></u></h5></strong></td>
  </tbody>
 
  
</table>
</div>


