


<div class="form-fields">
<%= simple_form_for(@transaction) do |f| %>
  <% if @transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
      <% @transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <center>

  <div class="col-lg-6 ">
  <div class = "card">
   <div class="card-header card-header-success">
                                    <h4 class="card-title">New Transaction</h4>
                                    <p class="card-category"></p>
                                     </div> 
    <div class="card-text">
  <form class="needs-validation" novalidate>
 
    <div class="btn-group">
   <center> <%= f.date_field :date, as: :date, value: f.object.try(:strftime,"%m/%d/%Y"), class: 'form-control' %></center> 
    </div>
    <br>
    
   
    <div class="btn-group">
     <div class="col-md-18">
    <center><%= f.label :account_id %><br></center> 

     <center><%= f.collection_select :gl_account_id, GlAccount.all, :id, :name, {:prompt => false},class:"btn" %></center> 
 
        </div>
    </div>
    <br>
    <br>
    <div class="btn-group">
     <div class="col-md-18">
    <center><%= f.label :bank_id %><br></center> 
     <center>  <%= f.collection_select :bank_account_id, BankAccount.all, :id, :name, {:prompt => false},class:"btn" %></center>  
        </div>
    </div>
    <br>
     
          <div class="btn-group">
     <div class="col-md-18">
  <center>  <%= f.label :description %><br></center> 
   <center> <%= f.text_field :description, class: 'form-control input'  %></center> 
    </div>
    </div>
    <br>
    
     <div class="btn-group">
     <div class="col-md-18">
  <center>  <%= f.label :vat_type %><br></center> 
   <center><%= f.input :vat_type, as: :select, label: " '", collection: Transaction.vat_types.map { |key, value| [key.humanize, key] }%></center> 
    </div>
    </div>
    <br>
  
    <div class="btn-group">
     <div class="col-md-18">
   <center> <%= @transaction.vat_amount %></br></center> 
     </div>
    </div>
     <br>
  

      <div class="btn-group">
     <div class="col-md-18">
  <center>  <%= f.label :amount %><br></center> 
   <center> <%= f.text_field :amount, class: 'form-control input'  %></br></center> 
     </div>
    </div>
    



    </div>
 <div class="actions">
   <%= f.submit 'Add Transaction', class: 'btn btn-success'%>
<% end %>  
<%= link_to 'Back', bank_accounts_path, class: "btn btn-default" %>
</div>
</center>